html{
  height:90%;
}

body{
    font-size: 1.5em import;
    text-align: center;
    background-color: rgba(10, 201, 105, 0.356);
    height:90%;
}
input:focus{
border-block-color: rgba(1, 11, 66, 0.979);
border: 2em;
}
a{
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.3em;
}
input,label ,button{
  width: 96%;
  padding: 12px  ;
  margin: 4px 0;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.2em;

}
#campo_mail{
  
}
#titulo{
  font-size: 3em;
  font-style: oblique !important;

}

#cform{
    background-color: rgba(10, 201, 105, 0.356);
    text-decoration: solid;
    border: 1px solid #ccc;
    height: max-content;
}
stroge{
  font-style: oblique !important;

}
#bt{
  background-color: rgba(35, 32, 240, 0.4);
  border-color:  rgba(35, 32, 240, 0.4);
  color: white;
  font-weight: bold;
  text-transform: uppercase;

}
#panelvertical{
display: table-cell;vertical-align: middle;
}
#panelPrincipal{
display: table;height: 100%;margin: 0 auto;
}

